body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
  outline: none;
}

h1 {
  color: #131d9a;
}

.content-box {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  margin: 20px;
  padding: 20px;
  width: 100%
}
