.app {
}
.container {
  max-width: 1200px;
  width: 100%
}


.store-section {
  background-color: #fff;
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
}
