.app {
}
.container {
  width: 100%
}

.store-section {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}

.sidebar {
  padding: 20px;
}

.sidebar div {
  margin: 10px;
}
