.app {
}
.container {
  width: 100%
}

.main-content {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
  max-width: 980px;
  width: 100%;
}
