.bread-crumbs-container {
  margin: 0px 40px;
  width: 100%
}

.bread-crumbs a {
  color: black;
  padding: 12px;
  text-align: left;
}

.bread-crumbs p {
  display: inline-block;
}

.bread-crumbs span {
  margin: 0px 5px;
}
.bread-crumbs-link:hover {
  background-color: #131d9a;
  color: #fff;
}
