.header {
align-items: center;
background-color: black;
color: white;
display: flex;
flex-direction: column;
font-size: 30px;
padding-bottom: 20px;
}
.logo img {
  align-items: center;
  height: auto;
  width: 200px;
}
.header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 600px) {
  .header {
    align-items: stretch;
  }
  .logo {
    align-self: center;
  }
  .header-menu {
    flex-direction: row;
    justify-content: space-around;
  }
}
/* @media (min-width: 900px) {
  .header {
    align-items: flex-end;
    flex-direction: row;
  }
  .header-menu {
    flex-direction: row;
    justify-content: space-around;
  }
} */
