.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 30px;
  padding: 40px 40px 20px 40px;
}

.logo img {
  align-items: center;
  height: auto;
  width: 200px;
}

.header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shopping-bag {
  width: 100%;
  padding: 20px 10px 0px 0px;
}

.shopping-bag p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.hero img {
  object-fit: cover;
}

@media (min-width: 600px) {
  .header {
    align-items: stretch;
  }

  .logo {
    align-self: center;
  }

  .header-menu {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 900px) {
  .header {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-menu a {
    flex-direction: row;
    padding-left: 70px;
  }

  .shopping-bag p {
    text-align: right;
  }
}
