.news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news img {
  width: 100%;
}

.news a {
  color: black;
  cursor: pointer;
  padding: 6px 6px;
}

.news a:hover {
  background-color: #131d9a;
  color: #fff;
  padding: 6px 6px;
}

.news-section-left, .news-section-right {
  width: 100%;
  padding-bottom: 20px;
}

.created-date {
  font-size: 12px;
  font-style: italic;
}

@media (min-width: 600px) {
  .news-section-left, .news-section-right {
    width: 50%
  }

  .news-section-left {
    padding-right: 10px;
  }

  .news-section-right {
    padding-left: 10px;
  }
}
