.product {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #f3f3f3;
  width: calc(100% - 40px);
  min-width: 100px;
}

.product:hover {
  background-color: #131d9a;
}

.product:hover h2 {
  color: #fff;
}

.product a {
  text-decoration: none;
  color: #000;
}

.product-image {
  width: 100%;
  height: auto;
  border: 1px solid #f3f3f3;
}

.product-title, .product-price {
  font-size: 16px;
  color: #000;
  text-align: center;
}

.product-price {

}

@media (min-width: 600px) {
  .product {
    width: calc(50% - 40px);
  }
}
