.single-product {
  display: flex;
  flex-direction: column;
}

.single-product-images, .single-product-info {
  width: 100%;
}
.single-product-images img:first-child {
  border: 1px solid #f3f3f3;
  width: 100%;
}

.single-product-image-small {
  margin: 10px;
  width: calc(33% - 20px);
}

.single-product-info {
  padding: 20px;
}

.select-menu {
  border: 1px solid #f3f3f3;
  font-size: 14px;
  height: 30px;
  margin: 10px 0px;
  -webkit-appearance: menulist-button;
}

.add-to-bag-button {
  border: none;
  background-color: #131d9a;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin: 20px 0px;
  padding: 10px;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .single-product {
    flex-direction: row;
  }
}
