.store {

}

.sidebar {
  padding: 20px;
  text-align: center;
}

.sidebar-links {
  color: black;
  display: block;
  padding: 6px 6px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-links:hover {
  background-color: #131d9a;
  color: #fff;
}

@media (min-width: 600px) {
  .sidebar {
    text-align: left;
    width: 20%;
  }
}
