.store {

}

.store-title {
  width: 100%;
}

.store-title h1 {
  text-align: center;
}

.sidebar {
  padding: 20px;
  text-align: center;
}

.sidebar-links {
  color: black;
  cursor: pointer;  
  display: block;
  padding: 6px 6px;
  text-decoration: none;
}

.sidebar-links:hover {
  background-color: #131d9a;
  color: #fff;
}

@media (min-width: 600px) {
  .store-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .store-title h1 {
    width: 80%;
  }

  .sidebar {
    text-align: left;
    width: 20%;
  }
}
